@model SV21T1020171.Web.Models.ProductSearchResult

@{
  
}

<div class="box box-primary">
    <div class="box-body">
        <!--Form nhập đầu vào tìm kiếm-->
        <form id="formSearch" action="/Product" method="get">
            <div class="row">
                <div class="col-sm-3">
                    <label>Loại Hàng:</label>
                    <select class="form-control" name="@nameof(Model.SupplierID)">
                        <option>-- Nhà cung cấp --</option>
                        @foreach (var supplier in CommonDataService.ListOfSuppliers())
                        {
                            if (supplier.SupplierID == Model.SupplierID)
                            {
                                <option value="@supplier.SupplierID" selected>@supplier.SupplierName</option>
                            }
                            else
                            {
                                <option value="@supplier.SupplierID">@supplier.SupplierName</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                    <label>Nhà cung cấp:</label>
                    <select class="form-control" name="@nameof(Model.CategoryID)">
                        <option value="">-- Loại hàng--</option>
                        @foreach (var category in CommonDataService.ListOfCategories())
                        {
                            if (category.CategoryId == Model.SupplierID)
                            {
                                <option value="@category.CategoryId" selected>@category.CategoryName</option>
                            }
                            else
                            {
                                <option value="@category.CategoryId">@category.CategoryName</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-1">
                    <label>Giá từ:</label>
                    <input type="text" class="form-control" name="@nameof(@Model.MinPrice)" value="0">
                </div>
                <div class="col-sm-1">
                    <label>đến:</label>
                    <input type="text" class="form-control" name="@nameof(@Model.MaxPrice)" value="0">
                </div>
                <div class="col-sm-4">
                    <label>Tên mặt hàng cần tìm:</label>
                    <div class="input-group">
                        <input name="SearchValue" type="text" class="form-control" placeholder="Nhập mặt hàng hàng cần tìm" autofocus="">
                        <div class="input-group-btn">
                            <button class="btn btn-info" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <a href="/Product/Create" class="btn btn-primary" style="margin-left:5px">
                                <i class="fa fa-plus"></i> Bổ sung
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--Hiển thị dữ liệu-->
        <p>Có <strong>@Model.RowCount</strong> sản phẩm trong tổng số <strong> @Model.PageCount</strong> trang</p>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th style="width:100px">Ảnh</th>
                        <th>Tên mặt hàng</th>
                        <th>Đơn vị tính</th>
                        <th>Giá</th>
                        <th>Trạng thái</th>
                        <th style="width:80px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Data)
                    {
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Images/Product/" + product.Photo)" style="width:100px" />
                            </td>
                            <td>@product.ProductName</td>
                            <td>@product.Unit</td>
                            <td>@product.Price.ToString("")</td>
                            <td>@(product.IsSelling ? "Đang bán" : "Ngừng bán")</td>
                            <td class="text-right">
                                <a href="~/Product/Edit/@product.ProductId" class="btn btn-xs btn-info">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Product/Delete/@product.ProductId" class="btn btn-xs btn-danger">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-center">
                <ul class="pagination">
                    @for (int i = 1; i < Model.PageCount + 1; i++)
                    {
                        if (i == Model.Page)
                        {
                            <li class="active"><a href="#">@i</a></li>
                        }
                        else
                        {
                            <li><a href="~/Product?page=@i&searchValue=@Model.SearchValue">@i</a></li>
                        }
                    }
                </ul>
            </div>
    </div>
</div>

