
@model ProductSearchInput
@{
    
    ViewBag.Title = "Quản lý mặt hàng";
}

 <div class="box box-primary">
<div class="box-body">
    <!--Form nhập đầu vào tìm kiếm-->
    <form id="formSearch" action="~/Product/Search" method="get" data-container="#searchResult">
            <input type="hidden" value="@Model.PageSize" name="@nameof(Model.PageSize)" />
        <div class="row">
            <div class="col-sm-3">
                <label>Loại Hàng:</label>
                    @Html.DropDownListFor(m => m.CategoryID, SelectListHelper.Categories(), new { @class = "form-control" })
            </div>
            <div class="col-sm-3">
                <label>Nhà cung cấp:</label>
                    @Html.DropDownListFor(m => m.SupplierID, SelectListHelper.Suppliers(), new { @class = "form-control" })
            </div>
            <div class="col-sm-1">
                <label>Giá từ:</label>
                <input type="text" class="form-control" name="@nameof(@Model.MinPrice)" value="0">
            </div>
            <div class="col-sm-1">
                <label>đến:</label>
                <input type="text" class="form-control" name="@nameof(@Model.MaxPrice)" value="0">
            </div>
            <div class="col-sm-4">
                <label>Tên mặt hàng cần tìm:</label>
                <div class="input-group">
                        <input name="SearchValue" type="text" class="form-control" placeholder="Nhập mặt hàng hàng cần tìm" value="@Model.SearchValue" autofocus="">
                    <div class="input-group-btn">
                        <button class="btn btn-info" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                        <a href="~/Product/Create" class="btn btn-primary" style="margin-left:5px">
                            <i class="fa fa-plus"></i> Bổ sung
                        </a>
                    </div>
            </div>
        </div>
    </form> 


        <!-- Hiển thị kết quả tìm kiếm -->
        <div id="searchResult">
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                paginationSearch(this, 1);
                return;
            });
            paginationSearch("#formSearch", @Model.Page);
        });

        function paginationSearch(formSearch, page) {
            var action = $(formSearch).prop("action");
            var method = $(formSearch).prop("method");
            var container = $(formSearch).data("container");

            var searchData = $(formSearch).serializeArray();
            searchData.push({ "name": "Page", "value": page });

            $.ajax({
                url: action,
                type: method,
                data: searchData,
                async: false,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $(container).html(data);
                }
            });
        }
    </script>
}